body {
    font-family: Roboto;
    margin: 0;
    padding-top: 80px;
}

.img-container > img {
    transition: transform 0.5s ease;
    z-index: 0;
}

.img-container:hover img{
    transform: scale(1.01);
}

