@media (min-width: 450px) and (max-width: 550px) {
    .info-box {
        width: 100%;
        margin-bottom: 25px;
    }
    .follow-box:last-child {
        width: 100%;
        align-items: center;
        text-align: center;
    }
}

@media (min-width: 550px) and (max-width: 1000px) {
    .follow-box:last-child {
        width: 100%;
        margin-top: 35px;
        align-items: center;
        text-align: center;
    }
}

@media (min-width: 450px) and (max-width: 870px) {
    .store {
        object-fit: cover;
    }

}

@media (min-width: 780px) and (max-width: 1050px) {
    .card-container {
        margin: auto;
        width: 770px;
    }
}
